@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

:root {
    --very-dark-Grayish-Blue: hsl(217, 19%, 35%);
    --Grayish-Dark-Blue: hsl(214, 17%, 51%);
    --Grayish-Blue: hsl(212, 23%, 69%);
    --Light-Grayish-Blue: hsl(210, 46%, 95%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
}

body {
    background-color: var(--Light-Grayish-Blue);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    background-color: white;
    width: 700px;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    
}
.article-image {
    width: 40%;
    height: auto;
    
}
.article-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
     border-radius: 10px 0 0 10px;
}

.right{
    padding: 32px;
    width: 60%;
}

.right h2 {
    color: var(--very-dark-Grayish-Blue);
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 20px;
}

.right p {
    color: var(--Grayish-Dark-Blue);
    font-size: 13px;
    font-weight: 500;
    line-height: 1.5;
    margin-bottom: 20px;
}

.profile {
    display: flex;
    align-items: center;
    gap: 16px;
    position: relative;
}

.profile img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.profile .name {
    display: flex;
    flex-direction: column;
}
.profile .name h4 {
    color: var(--very-dark-Grayish-Blue);
    font-size: 13px;
    font-weight: 700;
    margin-bottom: 4px;
}

.profile .name span {
    color: var(--Grayish-Blue);
    font-size: 12px;
    font-weight: 500;  
}

.profile-section {
    display: flex;
    align-items: center;
    gap: 16px;
}

.profile-section .share {
    margin-left: auto;
    background-color: var(--Light-Grayish-Blue);
    width: 32px;
    height: 32px;
    padding: 8px;
    box-sizing: border-box;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.profile-section .share:hover {
    background-color: var(--very-dark-Grayish-Blue);
}

.share-popup {
    position: absolute;
    right: -55px;
    bottom: 90px;
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 12px 24px;
    background: var(--very-dark-Grayish-Blue);
    color: var(--Grayish-Blue);
    border-radius: 10px;
    letter-spacing: 4px;
    font-size: 12px;
    text-transform: uppercase;
    z-index: 9999;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    transition: transform 0.3s ease; 
}

.share-popup img {
    width: 18px;
    height: 18px;
    cursor: pointer;
    
}

.share-popup .arrow {
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid var(--very-dark-Grayish-Blue);
}

.hidden {
    display: none;
}

 @media (max-width: 768px) {
        .container {
            flex-direction: column;
            width: 90%;
            max-width: 400px;
            border-radius: 10px;
        }

        .article-image {
            width: 100%;
            height: 200px;
        }
        .article-image img {
            border-radius: 10px 10px 0 0;
        }
        .right {
            width: 100%;
            padding: 32px 32px 20px 32px;
        }

        .share-popup {
            right: 0;
            bottom: 0;
            left: 0;
            width: 100%;
            border-radius: 0 0 10px 10px;
            padding: 28px 32px;
            justify-content: flex-start;
        }

        .share-popup .arrow {
            display: none;
        }

        .profile-section {
            position: relative;
        }

        .share {
            position: absolute;
            right: 0px;
            z-index: 100;
        }

        .share-popup::after {
            content: '';
            position: absolute;
            right: 32px;
            top: 50%;
            transform: translateY(-50%);
            width: 32px;
            height: 32px;
            background-color: var(--Grayish-Dark-Blue);
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='15' height='13'%3E%3Cpath fill='%23fff' d='M15 6.495L8.766.014V3.88H7.441C3.33 3.88 0 7.039 0 10.936v2.049l.589-.612C2.59 10.294 5.422 9.11 8.39 9.11h.375v3.867L15 6.495z'/%3E%3C/svg%3E");
            background-repeat: no-repeat;
            background-position: center;
        }
 
    }
