 @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');

 :root {
     --Navy-950-bg: hsl(233, 47%, 7%);
     --Blue-950-cardBg: hsl(244, 37%, 16%);
     --Purple-500: hsl(277, 64%, 61%);
     --White: hsl(0, 0%, 100%);
     --White-paragraph: hsla(0, 0%, 100%, 0.75);
     --White-stat-headings: hsla(0, 0%, 100%, 0.6);
 }

 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: 'Inter', sans-serif;
 }

 body {
     background-color: var(--Navy-950-bg);
     display: flex;
     justify-content: center;
     align-items: center;
     height: 100vh;
 }

 .container {
     background-color: var(--Blue-950-cardBg);
     width: 940px;
     height: 400px;
     border-radius: 4px;
     display: flex;
     overflow: hidden;
 }

 .left-side {
     width: 50%;
     padding: 50px;
     display: flex;
     flex-direction: column;
     justify-content: center;
 }

 .left-side h1 {
     color: var(--White);
     line-height: 1.2;
     margin-bottom: 16px;
     font-family: 'Lexend Deca', sans-serif;
     margin-bottom: 24px;
 }

 .left-side h1 span {
     color: var(--Purple-500);
 }

 .left-side p {
     margin-top: 8px;
     color: var(--White-paragraph);
     font-size: 15px;
     line-height: 1.5;
     margin-bottom: 24px;
 }

 .left-side .stats {
     margin-top: 32px;
     display: flex;
     justify-content: space-between;
     align-items: center;
 }

 .left-side .stats-item {
     display: flex;
     flex-direction: column;
     align-items: start;
 }

 .left-side .stats .stats-item p {
     color: var(--White);
     font-size: 24px;
     font-weight: 400;
     font-family: 'Lexend Deca', sans-serif;
     margin: 0;
 }

 .stats-item span {
     color: var(--White-paragraph);
     font-size: 10px;
     margin-top: 4px;
     margin-bottom: 0;
     letter-spacing: 1px;
     text-transform: uppercase;
 }

 .right-side {
     width: 50%;
     position: relative;
 }

 .right-side::after {
     position: absolute;
     content: '';
     width: 100%;
     height: 100%;
     left: 0;
     top: 0;
     background-color: hsla(277, 68%, 51%, 0.5);
 }

 .right-side img {
     width: 100%;
     height: 100%;
     object-fit: cover;
 }

 @media (max-width: 700px) {
     body {
         margin: 80px 0;
     }

     .container {
         flex-direction: column-reverse;
         width: 90%;
         height: auto;
         text-align: center;
     }

     .left-side {
         width: 100%;
         padding: 40px 20px;
     }

     .right-side {
         width: 100%;
     }

     .left-side .stats {
         margin-top: 16px;
         flex-direction: column;
         gap: 24px;
         align-items: center;
     }

     .left-side .stats-item {
         align-items: center;
     }

     .right-side img {
         background-image: url(./images/image-header-mobile.jpg);
         height: auto;
     }
 }