@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

:root{
--Blue-500: hsl(215, 51%, 70%);
--Cyan-400: hsl(178, 100%, 50%);
--Blue-950-main-BG: hsl(217, 54%, 11%);
--Blue-900-card-BG: hsl(216, 50%, 16%);
--Blue-800-line: hsl(215, 32%, 27%);
--White: hsl(0, 0%, 100%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Outfit", sans-serif;
    background-color: var(--Blue-950-main-BG);
}

.container{
    width: 300px;
    padding: 16px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: var(--Blue-900-card-BG);
    border-radius: 16px;
    color: var(--White);
}

.img-wrapper {
  width: 100%;
  border-radius: 8px;
  position: relative;
  overflow: hidden;
}

.img-wrapper img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  border-radius: 8px;
}

.img-wrapper .overlay {
  position: absolute;
  inset: 0;
  background-color: hsla(178, 100%, 50%, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: 0.3s ease;
}

.img-wrapper .overlay img{
    width: 32px;
    height: 32px;
}

.img-wrapper:hover .overlay {
  opacity: 1;
  cursor: pointer;
}

.detail{
    margin-top: 16px;
}

.detail h3{
    font-size: 18px;
    font-weight: 600;
}

.detail h3:hover{
    cursor: pointer;
    color: var(--Cyan-400);
}

.detail p{
    margin-top: 16px;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.5;
    color: var(--Blue-500);
}

.info{
    margin: 16px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    
}

.info div{
    display: flex;
    gap: 8px;
}
.info p{
   text-align: center;
   color: var(--Cyan-400);
}

.time img{
    width: 16px;
    height: 16px;
}
.time span{
    color: var(--Blue-500);
}
.profile{
    margin-top: 16px;
    padding: 16px 0;
    display: flex;
    align-items: center;
    gap: 8px;
    border-top: 0.2px solid var(--Blue-500);
    font-size: 14px;
    font-weight: 400;
    color: var(--Blue-500);
}
.profile img{
    width: 28px;
    height: 28px;
    border-radius: 50%;
    border: 1px solid var(--White);
}

.profile p > span{
    color: var(--White);
}

.profile p > span:hover{
    cursor: pointer;
    color: var(--Cyan-400);
}

@media (max-width: 700px){
    .container{
        width: 80%;
    }
}
